<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akindev.thrift">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Table"></activity>
        <activity
            android:name=".Activity.Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".Activity.viewmember"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akindev.thrift.Activity.dashboard" />
        </activity>
        <activity
            android:name=".Activity.loanrecord"
            android:label="@string/title_activity_loanrecord"
            android:parentActivityName=".Activity.dashboard"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akindev.thrift.Activity.dashboard" />
        </activity>
        <activity
            android:name=".Activity.getloan"
            android:label="@string/title_activity_getloan"
            android:parentActivityName=".Activity.dashboard"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akindev.thrift.Activity.dashboard" />
        </activity>
        <activity
            android:name=".Activity.viewmember"
            android:label="@string/viewuser"
            android:parentActivityName=".Activity.dashboard"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akindev.thrift.Activity.dashboard" />
        </activity>
        <activity
            android:name=".Activity.newmember"
            android:label="@string/title_activity_newmember"
            android:parentActivityName=".Activity.dashboard"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akindev.thrift.Activity.dashboard" />
        </activity>
        <activity android:name=".Activity.dashboard" />
        <activity android:name=".Activity.login" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>